* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;  /* Esto asegura que la altura del body ocupe todo el alto de la pantalla */
  margin: 0;
}
.navigation {
  height: 66px;
}
.page {
  margin-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 45px;
}